@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("https://use.typekit.net/yhm5bgi.css");

* {
  margin: 0 auto;
  padding: 0 auto;
  outline: none;
  box-sizing: border-box;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400;
}


body {
  background: #f2f2f2;
}


nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-image: url(../img/navbar.png);
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0 100px;
  flex-wrap: wrap;
  box-shadow: 2px 2px 10px #1818183b;
  position: relative;
  z-index: 1;
}

nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #c5c5c5;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 20px;
  transition: all 0.3s ease;
  background: #27272775;
}

nav ul li a.active,
nav ul li a:hover {
  color: #ffaa50;
  background: #814d14;
}

.activehover:hover {
  color: #df9439;
}


.offline {
  color: #945219;
  background: rgba(131, 54, 15, 0.219);
}

.offline:hover {
  color: #ca282882;
  background: rgba(90, 35, 8, 0.212);
  box-shadow: 0 0 8px 1px #ca282882;
}

nav .menu-btn i {
  color: #f1f1f1;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}


.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}

.content div {
  font-size: 40px;
  font-weight: 700;
}

img.nav-logo {
  width: 185px;
}

.mainlogo {
  width: 600px;
}

.loader {
  display: inline-block;
  position: relative;
  height: 15px;
  width: 140px;
  background-image:
    linear-gradient(#FFF 20px, transparent 0),
    linear-gradient(#FFF 20px, transparent 0),
    linear-gradient(#FFF 20px, transparent 0),
    linear-gradient(#FFF 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 0 0, 40px 0, 80px 0, 120px 0;
  animation: pgfill 1s linear infinite;
  border-radius: 50px;
  transition: all 0.3s ease;
}

@keyframes pgfill {
  0% {
    background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0);
  }

  25% {
    background-image: linear-gradient(#c07b20 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0);
  }

  50% {
    background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#c96e19 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0);
  }

  75% {
    background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#c94b19 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0);
  }

  100% {
    background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#ee5316 20px, transparent 0);
  }
}

.load {
  position: relative;
  top: 80%;
  color: #fff;
}

.text1 {
  margin: 0 0 10px;
}

@media (max-width: 1050px) {
  nav {
    padding: 0 40px 0 50px;
  }

  .mainlogo {
    width: 450px;
  }
}

@media (max-width: 940px) {
  nav .menu-btn i {
    display: block;
  }

  .mainlogo {
    width: 480px;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #0d0d0d;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 10;
    padding: 4px 50px;
  }

  #click:checked~ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    color: #ededed;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
    padding: 18px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: #814d14;
    color: #ffaa50;
  }
}

@media (max-width: 600px) {
  .mainlogo {
    width: 300px;
  }
}






section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 85vh;
  scroll-snap-align: center;
}

section#home {
  height: auto;
}

section#page2 {
  height: 30%;
  background: #3b1e04;
}

section#page3 {
  background: url('../img/Background.png');
  height: 100%;
}

section#page4 {
  height: 30%;
  background: rgb(13 13 13);
}

.intro {
  padding: 50px;
}

.ourteam {
  padding: 50px;
}

.jointeam {
  padding: 50px;
}



.maintext {
  font-size: 50px;
  color: #1f1f1f;
  margin-bottom: 30px;
  letter-spacing: 20px;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 100, 'wdth' 100, 'slnt' 0;
}

.maintext2 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 100;
}

.team {
  max-width: 1500px;
}


.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  padding: 95px 0;
}

.team-member {
  text-align: center;
  margin: 17px;
  padding: 24px 30px;
  background: linear-gradient(20deg, #2f2f2f, #121212);
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.21);
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.team-member:hover {
  transform: translateY(-10px);
}

.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.356));
}

.team-member h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.team-member .role {
  color: #616161;
  margin: 0;
  font-size: 13px;
}

.fa {
  font-size: 24px;
  margin: 0 10px;
  color: #c89242;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none;
}

.team-member:hover .fa {
  transform: scale(1.2);
  color: #e68516;
}

.s1 {
  background: #0000009c;
  padding: 2px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc-border {
  background: #ab703b0d;
  border-radius: 25px;
  padding: 12px 50px;
  display: table;
}

.description {

  color: #eec49f;

}

.description p {
  font-size: 20px;
  font-weight: 500;
  margin: 20px;
}

p.role {
  margin-right: 10px;
}

.btm {
  align-items: center;
  position: relative;
  display: inline-flex;
}

.setting {
  font-size: 13px;
  margin: 0;
  margin-right: 5px;
}

img.flag {
  width: 27px;
  height: auto;
  margin-bottom: 0;
  margin-left: 8px;
  border-radius: 0px;
}

h3.name1 {
  font-size: 22px;
}

h3.name2 {
  font-size: 21px;
  font-variation-settings: 'wght' 100, 'wdth' 100, 'slnt' 0;
  font-weight: 100;
}

img.personimg {
  margin-right: 23px;
  overflow: unset;
  box-sizing: border-box;
  margin-top: -48px;
  margin-left: -30px;
}


.infojoin {
  color: #fff;
}

.inside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.role-country {
  display: flex;
  align-items: center;
  margin: 10px 0 0;
}

.info1 {
  font-weight: 100;
}
.info2 {
  font-weight: 100;
  margin-top: 15px;
  color: #717171;
}
.info3 {
  font-weight: 100;
  margin-top: 6px;
  color: #834f4f;
}
a.applybtn {
  color: #fff;
  text-decoration: none;
}
.applybtn {
  background: #181818;
  padding: 8px 60px;
  border-radius: 100px;
  transition: all 0.3s ease;
}
.applybtn:hover {
  background: #252525;
}
.btn {
  margin: 30px 0 0;
}
img.personimg.maxim {
  width: 170px;
}
img.sandu{
  width: 99px;
  margin-left: 1px;
  margin-right: 30px;
}


footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle, #181818 0, #161616 14%, #080808 80%);
  height: auto;
  padding: 50px;
  color: #dfdfdf;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 20%);
  outline: 2px solid #3838383b;
}

.footerlogo {
  width: 70px;
  height: auto;
  margin: 10px 0;
}

.footer-left {
  position: relative;
  margin-right: 0;
  margin: 0;
}

.footer-left2 {
  position: relative;
  margin-left: 30px;
  margin: 0 40px;
}

.footer-left3 {
  position: relative;
  margin-left: 30px;
  margin: 0 40px;
}

.footer-left4 {
  position: relative;
  margin-left: 30px;
  margin: 0 40px;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer-content h3 {
  font-size: bold;
  text-transform: capitalize;
  line-height: 3rem;
  color: #c57d3c;
}

p.footercopyright {
  color: #666666;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footerlink {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #dfdfdf;
  display: flex;
  text-decoration: none;
}

.footer-bottom {
  background: #e1e1e1;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 20%);
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.contact {
  font-size: 15px;
  font-weight: 100;
  border: 2px solid #303030;
  padding: 10px 20px;
  border-radius: 100px;
  color: #a1a1a1;
}
img.marian{
  margin-right: 23px;
  overflow: unset;
  box-sizing: border-box;
  margin-top: -48px;
  margin-left: -30px;
  width: 145px;
  height: 150px;
}




@media (max-width: 800px) {
  .footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .footerlogo {
    margin: 0 30px;
  }
}


@media (max-width: 550px) {
  .team-section {
    margin: 0 -15px;
  }
}

@media (max-width: 925px) {
  section {
    height: 125vh;
  }
}

@media (max-width: 504px) {
  img.marian {
    width: 166px;
}
}